fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
httpx>=0.28.1
web3
py-solc-x
google-genai
google-generativeai
python-multipart
numpy
scikit-learn
tensorflow
pandas
ray
psycopg2-binary
joblib